body{background-color:#f9f9f9}

/* Dropdown container
-------------------------------------------------------------- */

.dropmic {
  position: relative;
}

.dropmic * {
    box-sizing: border-box;
}

/* Dropdown menu
-------------------------------------------------------------- */

.dropmic-menu {
  position: absolute;
  min-width: 20vw;
  max-width: 95vw;
  width: 200px;
  max-height: 90vh;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.dropmic--show .dropmic-menu {
  clip: inherit;
}

[data-dropmic-direction="bottom-left"] .dropmic-menu {
  right: calc(50% - 10px);
  bottom: 0;
  transform: translateY(calc(100% + 20px));
}

[data-dropmic-direction="bottom-right"] .dropmic-menu {
  bottom: 0;
  left: calc(50% - 15px);
  transform: translateY(calc(100% + 20px));
}

[data-dropmic-direction="top-left"] .dropmic-menu {
  top: 0;
  right: calc(50% - 10px);
  transform: translateY(calc(-100% - 20px));
}

[data-dropmic-direction="top-right"] .dropmic-menu {
  top: 0;
  left: calc(50% - 15px);
  transform: translateY(calc(-100% - 20px));
}

/* arrow */

.dropmic-menu::before {
  position: absolute;
  width: 0;
  height: 0;
  background-size: 100% 100%;
  content: "";
}

.dropmic-menu::before,
.dropmic-menu::after {
  position: absolute;
  width: 0;
  height: 0;
  background-size: 100% 100%;
  content: "";
}

[data-dropmic-direction="bottom-left"] .dropmic-menu::before,
[data-dropmic-direction="bottom-right"] .dropmic-menu::before {
  top: -1px;
  border: 7px solid transparent;
  border-bottom-color: #d6d5d5;
  transform: translateY(-100%);
}

[data-dropmic-direction="bottom-left"] .dropmic-menu::after,
[data-dropmic-direction="bottom-right"] .dropmic-menu::after {
  top: 0;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  transform: translateY(-100%);
}

[data-dropmic-direction="bottom-left"] .dropmic-menu::before,
[data-dropmic-direction="bottom-left"] .dropmic-menu::after {
  right: 5px;
}

[data-dropmic-direction="bottom-right"] .dropmic-menu::before,
[data-dropmic-direction="bottom-right"] .dropmic-menu::after {
  left: 5px;
}

[data-dropmic-direction="top-left"] .dropmic-menu::before,
[data-dropmic-direction="top-right"] .dropmic-menu::before {
  bottom: -1px;
  border: 7px solid transparent;
  border-top-color: #d6d5d5;
  transform: translateY(100%);
}

[data-dropmic-direction="top-left"] .dropmic-menu::after,
[data-dropmic-direction="top-right"] .dropmic-menu::after {
  bottom: 0;
  border: 7px solid transparent;
  border-top-color: #fff;
  transform: translateY(100%);
}

[data-dropmic-direction="top-left"] .dropmic-menu::before,
[data-dropmic-direction="top-left"] .dropmic-menu::after {
  right: 5px;
}

[data-dropmic-direction="top-right"] .dropmic-menu::before,
[data-dropmic-direction="top-right"] .dropmic-menu::after {
  left: 5px;
}

/* Dropdown menu content
-------------------------------------------------------------- */

/* Content style */
.dropmic-menu__custom,
.dropmic-menu__listContent {
  display: block;
  width: 100%;
  border: none;
  background: none;
  color: #373737;
  text-align: left;
  text-decoration: none;
  font-size: 1em;
  font-family: "Open Sans", "Source Sans Pro", Tahoma, sans-serif;
  cursor: pointer;
}

.dropmic-menu__custom {
  padding: 15px 30px;
}

.dropmic-menu__list,
.dropmic-menu__listItem {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropmic-menu__listContent {
  padding: 10px 30px;
  border-top: 1px solid #f2f2f2;
}

.dropmic-menu__listContent:hover,
.dropmic-menu__listContent:active {
  background-color: #f2f2f2;
  color: #000;
}
