body{background-color:#f9f9f9}

/* Dropdown container
-------------------------------------------------------------- */

.dropmic {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dropmic * {
    box-sizing: border-box;
}

/* Dropdown menu
-------------------------------------------------------------- */

.dropmic-menu {
  position: absolute;
  z-index: 1;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  min-width: 20vw;
  max-width: 95vw;
  max-height: 90vh;
  width: 200px;
  border: 1px solid #d6d5d5;
  border-radius: 3px;
  background: #fff;
}

.dropmic--show .dropmic-menu {
  clip: inherit;
}

.dropmic-menu, /* Default behavior */
[data-dropmic-direction="bottom-right"] .dropmic-menu {
  top: auto;
  right: auto;
  bottom: 0;
  left: calc(50% - 15px);
  transform: translateY(calc(100% + 7px));
}

[data-dropmic-direction="bottom-left"] .dropmic-menu {
  top: auto;
  right: calc(50% - 10px);
  bottom: 0;
  left: auto;
  transform: translateY(calc(100% + 7px));
}

[data-dropmic-direction="top-left"] .dropmic-menu {
  top: 0;
  right: calc(50% - 10px);
  bottom: auto;
  left: auto;
  transform: translateY(calc(-100% - 8px));
}

[data-dropmic-direction="top-right"] .dropmic-menu {
  top: 0;
  right: auto;
  bottom: auto;
  left: calc(50% - 15px);
  transform: translateY(calc(-100% - 8px));
}

/* arrow */

.dropmic-menu::before {
  position: absolute;
  width: 0;
  height: 0;
  background-size: 100% 100%;
  content: "";
}

.dropmic-menu::before,
.dropmic-menu::after {
  position: absolute;
  width: 0;
  height: 0;
  background-size: 100% 100%;
  content: "";
}

.dropmic-menu::before, /* Default behavior */
[data-dropmic-direction="bottom-left"] .dropmic-menu::before,
[data-dropmic-direction="bottom-right"] .dropmic-menu::before {
  top: -1px;
  border: 7px solid transparent;
  border-bottom-color: #d6d5d5;
  transform: translateY(-100%);
}

.dropmic-menu::after, /* Default behavior */
[data-dropmic-direction="bottom-left"] .dropmic-menu::after,
[data-dropmic-direction="bottom-right"] .dropmic-menu::after {
  top: 0;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  transform: translateY(-100%);
}

[data-dropmic-direction="bottom-left"] .dropmic-menu::before,
[data-dropmic-direction="bottom-left"] .dropmic-menu::after {
  right: 5px;
  left: auto;
}

.dropmic-menu::before, /* Default behavior */
.dropmic-menu::after, /* Default behavior */
[data-dropmic-direction="bottom-right"] .dropmic-menu::before,
[data-dropmic-direction="bottom-right"] .dropmic-menu::after {
  right: auto;
  left: 5px;
}

[data-dropmic-direction="top-left"] .dropmic-menu::before,
[data-dropmic-direction="top-right"] .dropmic-menu::before {
  top: auto;
  bottom: -1px;
  border: 7px solid transparent;
  border-top-color: #d6d5d5;
  transform: translateY(100%);
}

[data-dropmic-direction="top-left"] .dropmic-menu::after,
[data-dropmic-direction="top-right"] .dropmic-menu::after {
  top: auto;
  bottom: 0;
  border: 7px solid transparent;
  border-top-color: #fff;
  transform: translateY(100%);
}

[data-dropmic-direction="top-left"] .dropmic-menu::before,
[data-dropmic-direction="top-left"] .dropmic-menu::after {
  right: 5px;
  left: auto;
}

[data-dropmic-direction="top-right"] .dropmic-menu::before,
[data-dropmic-direction="top-right"] .dropmic-menu::after {
  right: auto;
  left: 5px;
}

/* Dropdown menu content
-------------------------------------------------------------- */

/* Content style */
.dropmic-menu__custom,
.dropmic-menu__listContent,
.dropmic-menu__listContent:link,
.dropmic-menu__listContent:visited {
  display: block;
  width: 100%;
  border: none;
  background: none;
  color: #373737;
  text-align: left;
  text-decoration: none;
  font-size: 1em;
  font-family: "Open Sans", "Source Sans Pro", Tahoma, sans-serif;
  cursor: pointer;
}

.dropmic-menu__custom {
  padding: 15px 30px;
}

.dropmic-menu__list,
.dropmic-menu__listItem {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropmic-menu__listContent {
  padding: 10px 30px;
}

/* When list come after custom content */

.dropmic-menu__listContent:nth-child(n) {
  border-top: 1px solid #f2f2f2;
}

/* When list come first */

.dropmic-menu__list:first-child .dropmic-menu__listContent {
  border-top: none;
  border-bottom: 1px solid #f2f2f2;
}

/* When the are only list items¨*/

.dropmic-menu__list:only-child .dropmic-menu__listItem:last-child .dropmic-menu__listContent {
  border-bottom: none;
}

/* States */
.dropmic-menu__listContent:hover,
.dropmic-menu__listContent:active {
  background-color: #f2f2f2;
  color: #000;
}
